/* ROUNDED THEME FOR ROFI */
/* Author: Newman Sanchez (https://github.com/newmanls) */

* {
    bg0: #2E3440F2;
    bg1: #3B4252F2;
    bg2: #434C5ECC;
    bg3: #4C566ACC;

    fg0: #D8DEE9;
    fg1: #E5E9F0;
    fg2: #ECEFF4;
    fg3: #88C0D0F2; /* Frost accent */
}

@import "template/rounded-template.rasi"

element selected {
    text-color: @fg0;
}
